* {
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select {
    background-image: url('./assets/images/arrowDownForm.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}